body{
    background-color: rgb(67, 71, 75);
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#card{
    width: 300px;
    height: 600px;
    background: rgb(102, 109, 116);
    border-radius: 20px;
    margin: 10px;
}
img{
    border-radius: 100px;
    position:relative;
	left:70px;
	top:50px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    width: 100%;
    height: 25px;
    border-radius: 20px;
    background: rgb(49, 48, 48);
    
}
#card1{
    width: 300px;
    height: 600px;
    background: rgb(102, 109, 116);
    border-radius: 20px;
    margin: 10px;
}
#card2{
    width: 300px;
    height: 600px;
    background: rgb(102, 109, 116);
    border-radius: 20px;
    margin: 10px;
}
#opcoes{
    width: 200px;
    height: 200px;
    background: white;
}